@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-archivo: var(--font-archivo);
  --font-jetbrains: var(--font-jetbrains-mono);
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1.5px white;
    color: transparent;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Lenis CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes gradient-x {
  0% {
    bg-position: 0% 50%;
  }
  100% {
    bg-position: 200% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}

.clip-path-top {
  clip-path: inset(0 0 50% 0);
}
.clip-path-bottom {
  clip-path: inset(50% 0 0 0);
}
